figures/flowchart.aux                                                                                                                                           │
figures/flowchart.log                                                                                                                                           │
figures/flowchart.pdf                                                                                                                                           │
figures/flowchart.synctex.gz                                                                                                                                    │
manual-ndeloc*.aux                                                                                                                                 │
manual-ndeloc*.bbl                                                                                                                                 │
manual-ndeloc*.bcf                                                                                                                                 │
manual-ndeloc*.blg                                                                                                                                 │
manual-ndeloc*.listing                                                                                                                             │
manual-ndeloc*.log                                                                                                                                 │
manual-ndeloc*.out                                                                                                                                 │
manual-ndeloc*.pdf                                                                                                                                 │
manual-ndeloc*.run.xml                                                                                                                             │
manual-ndeloc*.synctex.gz                                                                                                                          │
manual-ndeloc*.toc
